.show{
    animation: fadein 1.5s ease-in-out;
}
.show1{
    animation: fadein1 1.5s ease-in-out;
}
.show2{
    animation: fadein1 1s ease-in-out;
}
.hide{
    display:none;
}


@keyframes fadein{
    0%{
        opacity: 0;
    }
    40% {
        opacity:1;
    }
    100%{
        opacity : 1;
    }
    
}
@keyframes fadein1{
    0%{
        opacity: 0;
    }
    40% {
        opacity:0;
    }
    100%{
        opacity : 1;
    }
    
}

.listBox:hover{
    transform: scale(1.004);
}